
__marimo__/
__pycache__/
__pypackages__/
._*
.abstra/
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.cursorignore
.cursorindexingignore
.dmypy.json
.DocumentRevisions-V100
.DS_Store
.eggs/
.env
.envrc
.fseventsd
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.LSOverride
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pixi
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.Spotlight-V100
.spyderproject
.spyproject
.TemporaryItems
.tox/
.Trashes
.venv
.VolumeIcon.icns
.webassets-cache
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py.cover
*.py[codz]
*.sage.py
*.so
*.spec
*$py.class
/site
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
issues
lib/
lib64/
local_settings.py
MANIFEST
marimo/_lsp/
marimo/_static/
Network Trash Folder
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
share/python-wheels/
target/
Temporary Items
var/
venv.bak/
venv/
wheels/
src/synchromcp/_version.py
